.footer-container {
  border-top: 1px solid rgb(246,246, 246);
  display: flex;
  justify-content: center;
  background-color: white;
  height: 100px;
  width: 100%;
  bottom: 0px;
  margin-top: 100px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
  width: 1000px;
  height: 40px;
  font-size: 14px;
  color: gray;
  padding: 0 10px;
  margin-bottom: 0;
}

.footer a {
  padding: 0 20px;
  font-size: 1.5em;
  text-decoration: none;
}

i {
  text-decoration: none;
}

.footer {
  padding-top: 30px;
}
#linkedinlogo {
  color: blue;
  text-decoration: none;
}

#githublogo {
  color: black;
  text-decoration: none;
}
#angellogo {
  color: black;
  text-decoration: none;
}

a:hover,
a:active {
    outline: none;
    box-shadow: none !important;
}