.favorite-button{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(255, 76, 76);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

#favorite-div{
      width: 100%;
    text-align:center;
    padding-top: 30px;
    display: flex;
   align-items: center;
justify-content: center;
}