body {
    margin: 0;
     background-color: rgb(255, 237, 207);
     overflow: auto
    
}

video {
        top: 10px;
        left: 0px;
        min-width: 100%;
        min-height: 100%;

}

#videodiv {
    position: relative;
    height: 75vh;
    overflow: hidden;
}


#__next {
  padding: 20px;
}
.image-item {
  padding: 20px 0 20px 20px;
}


.recipe-slide{
  display: flex;
}

.individual-box{
  background-color: white;
}


.recipes-information-box h3{
  text-decoration: none;
  color: #222;
  font-size: 1.2em;
  line-height: 1.06em;
}

.recipes-information-box h5{
  text-decoration: none;
  color:rgb(255, 76, 76);
  font-size: .8 em;
  line-height: 1.06em;
  font-weight: 10px;
}

.all-recipe-box a{
text-decoration: none;
}

.link{
  text-decoration: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
  color:rgb(255, 76, 76);
  margin-top: 0px;
}


#home-parent-div{
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;


}


#hometitlediv {
  height: 200px;
  border-bottom: black solid 5px;
  display: flex;
  align-items: center;
justify-content: center;
  
}

#random-title-div{
  font-size: 38px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#carousel h1{
  margin-bottom: 30px;
}

#spacing-div{
  padding-top: 30px;
  gap: 20px
}

.carousel-div{
  margin-bottom: 50px;
  margin-top: 50px;
}


button.rec-dot{
  background-color:white;
  box-shadow: 0 0 1px 3px rgba(255, 76, 76, 0.5);
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px  rgba(255, 76, 76, 0.5);
}