body {
    margin: 0;

}

video {
        top: 20px;
        left: 0px;
        min-width: 100%;
        min-height: 100%;

}

#videodiv {
    position: relative;
    height: 75vh;
    overflow: hidden;
}