#unfavorite-button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(255, 76, 76);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 55%;
  margin-top: 10px;
}


#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;;
    gap: 20px;

}

#card {
  background-color: #729EA1;
  border-radius: 30px;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 30px;

}

#card h4 {
  color: #EC9192 ;
  font-size: 20px;
}

#user-favorites-picture{
  width: 100%;
  height: 100%;
}

#picture-container-user-profile{
  height: 200px;
  width: 200px;
}
